@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;200;300&family=Plus+Jakarta+Sans:wght@600&family=Work+Sans:wght@100;300;400;500;600;700&display=swap');

:root {
  --bg-peachy-beige: #fff7f0;
  --btn-pastel-orange: #f9c090;
  --btn-primary-orange: #f6a560;
  --white: #ffff;
  --text-dark-gray: #3f414e;
  --text-ligh-gray: #9799a6;
  --modal-content-color: #fefcf7;
  --btn-primary-green: #0e8784;
  --box-rectangle-color: #333242;
  --box-menu-description: #ebeaec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

hr {
  height: 4px;
  width: 143px;
  background-color: var(--btn-pastel-orange);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  margin: 40px auto 40px auto;
}

li {
  list-style-type: none;
}

body {
  background-color: var(--bg-peachy-beige);
  font-family: 'Work Sans', sans-serif;
  line-height: 165%;
  font-size: 16px;
}

.container {
  width: 92%;
  margin: 0 auto;
}

.button-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 329px;
  height: 55.5px;
  border-radius: 38px;
  background-color: var(--btn-primary-orange);
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  margin: 50px 0 20px 0;
  cursor: pointer;
}

.back-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--btn-pastel-orange);
  cursor: pointer;
}

/* welcome page styles*/

.welcomepage-background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background-image: url(/src/Images/WelcomePage/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.homepage-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage-text h1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: var(--text-dark-gray);
  margin: 20px 0px 20px 0px;
}

.homepage-text p {
  text-align: center;
  letter-spacing: 1.4px;
  font-weight: 200;
  color: var(--text-ligh-gray);
  margin: 30px 0px 70px 0px;
}

/* loader styles */

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-peachy-beige);
  z-index: 999;
}

.loading-text {
  font-weight: 200;
  font-size: 24px;
  color: var(--text-dark-gray);
  margin-bottom: 20px;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 5px solid var(--btn-primary-orange);
  border-top-color: var(--bg-peachy-beige);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.container nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 30px 0;
}

.typed-text {
  text-align: left;
  font-size: 26px;
  font-weight: 700;
  color: var(--text-dark-gray);
  margin-bottom: 30px;
}

/*emotions bar*/

.emotions-container {
  display: flex;
  gap: 6px;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0;
}

.emotions-container::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

.emotions-container::-webkit-scrollbar-thumb {
  background-color: var(--btn-pastel-orange);
  border-radius: 10px;
  border: 2px solid #fff;
}

.emotion-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emotion-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 62px;
  border-radius: 20px;
}

.emotion-box p {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: var(--text-dark-gray);
  padding-top: 5px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 96%;
  max-width: 500px;
  height: 70vh;
  max-height: 700px;
  border-radius: 8px;
  background-color: var(--modal-content-color);
}

.modal-content .text-area-style {
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 10px 0 10px 0;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text-ligh-gray);
  cursor: pointer;
}

.save-button {
  width: 229px;
  height: 45px;
  background-color: var(--btn-primary-green);
  margin-bottom: 0;
}

.modal-content h1 {
  margin: 10px 20px 10px;
}

.text-area-style {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 169%;
  background-color: transparent;
  color: var(--text-dark-gray);
  width: 91%;
  height: 200px;
  resize: none;
  overflow: auto;
  position: relative;
  z-index: 1;
  outline: none;
  border: none;
  display: inline-block;
  caret-color: transparent;
  cursor: text;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blinking {
  position: absolute;
  left: 20px;
  width: 1px;
  height: 20px;
  margin-top: 5px;
  background-color: var(--text-dark-gray);
}

.blinking.visible {
  display: inline-block;
  animation: blink 1s infinite;
}

.blinking.hidden {
  display: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* menu styles */

.box-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 0 20px 0;
}

.box-top-square,
.box-bottom-square {
  width: 162px;
  height: 182px;
  border-radius: 20px;
}

.box-description {
  display: flex;
  flex-direction: column;
  margin: 5px 0 0 10px;
}

.button-div {
  display: flex;
  justify-content: flex-end;
}

.box-bottom-square {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
}

.box-rectangle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 338px;
  height: 87px;
  border-radius: 20px;
  background-color: var(--box-rectangle-color);
  background-size: cover;
}

.image-in-the-box {
  display: flex;
  justify-content: center;
}

.image-in-the-box img {
  width: 83%;
  margin-top: 10px;
}

.image-in-the-box .image-thoughts {
  width: 60%;
}

.box-rectangle-description {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.box-top-square h2,
.box-bottom-square h2,
.box-rectangle h2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: var(--white);
}

.box-top-square p,
.box-bottom-square p,
.box-rectangle p {
  font-size: 10px;
  color: var(--box-menu-description);
}

.start-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(55px, 14.7vw, 118px);
  height: clamp(28px, 7.2vw, 49px);
  border-radius: 25px;
  border: 2px solid var(--white);
  background-color: transparent;
  font-weight: 500;
  font-size: clamp(12px, 2.4vw, 18px);
  text-transform: uppercase;
  color: var(--white);
  margin: 0 10px 10px 0;
  transition: all 0.5s ease-in-out;
}

.box-menu .start-link-dark {
  color: var(--text-dark-gray);
  border-color: var(--text-dark-gray);
}

.box-bottom-square h2,
.box-bottom-square p {
  color: #3f4553;
}

.box-description h2,
.box-rectangle h2 {
  font-size: clamp(16px, 2.6667vw, 24px);
}

.box-description p,
.box-rectangle p {
  font-size: clamp(12px, 1.6vw, 16px);
}

/* every challenge intro */

.challenge-description h1,
h1.thoughts-challenge-title {
  font-size: 26px;
  font-weight: 700;
  color: var(--text-dark-gray);
  margin-bottom: 40px;
}

.challenge-description p {
  font-style: normal;
  font-weight: 300;
  text-align: center;
  color: var(--text-dark-gray);
  margin-bottom: 20px;
}

.challenge-description h4 {
  font-weight: 500;
  text-align: center;
  color: var(--text-dark-gray);
}

.exercise-description p {
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  color: var(--text-dark-gray);
}

.exercise-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* thoughts trap component*/

.progress-bar-thoughts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: -20px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: var(--text-ligh-gray);
}

.active {
  background-color: #f6a560;
}

.thoughts-text-area {
  background-color: transparent;
  color: var(--text-dark-gray);
  width: 100%;
  height: 400px;
  resize: none;
  overflow: auto;
  position: relative;
  z-index: 1;
  cursor: text;
  outline: none;
  border: none;
  font-weight: 300;
  text-align: left;
  margin-top: 20px;
}

.thoughts-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thinking-mistakes-boxes {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mistake-box {
  border: 2px solid rgba(246, 165, 96, 0.24);
  display: flex;
  border-radius: 28px;
  align-items: center;
  width: 347px;
  height: 70px;
}

.mistake-box img {
  margin-left: 20px;
  width: 34px;
  height: 34px;
}

.mistake-box p {
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: var(--text-dark-gray);
  margin: 0 10px 0 30px;
}

p.thoughts-challenge-descriptions {
  font-weight: 700;
  font-size: 14px;
  color: var(--text-dark-gray);
  text-align: left;
  margin-top: 20px;
}

.selected {
  background-color: var(--btn-primary-orange);
}


.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttons-container button:hover {
  background-color: #2b303c;
}

/*negative contemplation*/

.start-meditating-button {
  margin-top: 20px;
  width: 118px;
  height: 49px;
  font-size: 18px;
}

.meditation-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meditation-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 346px;
  height: 390px;
  border-radius: 20px;
  transition: opacity 1s ease-in-out;
}

.meditation-image img {
  width: 70%;
}

.meditation-image.animating {
  opacity: 0;
}

.meditation-name {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  color: var(--white);
}

.meditation-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 169%;
  text-align: justify;
  color: var(--text-dark-gray);
}

.timer-meditation-div {
  height: 100vh;
  max-width: 350px;
  margin: 0 auto;
  padding-top: 150px;
}

button.button-style.play-meditation-button,
button.button-style.pause-meditation-button {
  width: 200px;
  margin-top: 40px;
  margin-bottom: 5px;
}

button.button-style.settings-meditation-button {
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #61c4b7;
}

div.progress-bar-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

svg.CircularProgressbar .CircularProgressbar-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

path.CircularProgressbar-path {
  stroke-width: 5px;
}

path.CircularProgressbar-trail {
  stroke-width: 0;
}

div.second-circle {
  padding: 10px;
  content: '';
  display: block;
  position: relative;
  border-radius: 50%;
  background: radial-gradient(circle at center, #3d3d3d, #141414);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
}

div.second-circle::before,
div.second-circle::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

div.second-circle::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
}

div.second-circle::after {
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-color: #61c4b7;
  background: linear-gradient(to right, #61c4b7, #f6a560);
  opacity: 0.3;
}

.modal-body-meditation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 96%;
  max-width: 500px;
  height: 70vh;
  max-height: 700px;
  border-radius: 20px;
  background-color: #fff7f0;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
  overflow: hidden;
}

.thumb {
  width: 30px;
  height: 30px;
  background-color: var(--btn-primary-orange);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.track {
  height: 8px;
  background-color: var(--btn-primary-orange);
  border-radius: 20px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
  font-size: 24px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  text-align: center;
}

.color-buttons-wrapper,
.color-text-wrapper,
.font-size-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.color-buttons-wrapper {
  margin-top: 30px;
}

.font-size-wrapper {
  margin-bottom: 30px;
}

.color-buttons-wrapper h3,
.color-text-wrapper h3,
.font-size-wrapper h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  text-transform: uppercase;
  opacity: 0.7;
}

.color-button,
.font-size-button {
  transition: transform 0.1s, box-shadow 0.1s;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin-left: 10px;
}

.text-color-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--btn-primary-orange);
}

.font-size-button {
  background-color: var(--btn-primary-orange);
  color: var(--white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}

.color-button.active,
.font-size-button.active {
  filter: none;
}

.color-button.inactive,
.font-size-button.inactive {
  opacity: 0.5;
}

/* emotional journal */

ul.emotions-journal {
  margin-top: 100px;
}

.single-journal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f5eee7;
  border-radius: 20px;
}

.single-journal p {
  width: 230px;
  max-width: 600px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  word-break: break-word;
  text-align: center;
  margin-right: 10px;
}

.delete-button svg {
  width: 40px;
  color: var(--btn-primary-orange);
}

.emotion-journal-heading {
  font-size: 14px;
  text-align: justify;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--text-dark-gray);
  margin-bottom: 20px;
}

div.container-piechart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: -70px;
}

.recharts-legend-item-text {
  font-size: 13px;
  font-weight: 300;
}

.recharts-default-tooltip {
  margin: 0;
  padding: 0;
  border: none;
}

.recharts-legend-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f5eee7;
  border-radius: 25px;
  padding: 10px;
  margin-top: 10px;
}

.recharts-curve,
.recharts-pie-label-line,
.recharts-text,
.recharts-pie-label-text {
  display: none;
}

/* stoic quotes styles */

.english-quote,
.translated-quote,
.quote-author,
.favourite-quotes h2,
.favourite-author-and-quote p.fav-author,
.favourite-author-and-quote p.fav-quote {
  color: var(--text-dark-gray);
}

.english-quote {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 26px 0 10px 0;
}

.translated-quote {
  font-weight: 300;
  text-align: center;
  margin: 5px 0 5px 0;
}

.quote-author {
  font-weight: 500;
  text-align: center;
  margin: 10px 0 10px 0;
}

.add-quote-button {
  width: 48px;
  height: 48px;
  background-color: #d3d265;
  border-radius: 50px;
  font-size: 20px;
  color: var(--white);
}

.generate-quote-div,
.quote-generator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.favourite-quotes h2 {
  font-weight: 700;
  text-align: center;
  margin: 30px 0 30px 0;
}

.favourite-author-and-quote {
  width: 80%;
}

.favourite-author-and-quote p.fav-author {
  font-weight: 500;
  text-align: left;
  color: var(--text-dark-gray);
  margin-top: 5px;
}

.favourite-author-and-quote p.fav-quote {
  font-weight: 300;
  font-size: 12px;
}

.favourite-quote button {
  background: #f47850;
  color: var(--white);
  border-radius: 50px;
  width: 25px;
  height: 25px;
  font-size: 14px;
}

.favourite-quote {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.error-modal {
  align-items: center;
  height: 50vh;
}

.error-modal .error-modal-message {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--text-dark-gray);
}

.error-modal .error-try-again {
  font-size: 14px;
  font-weight: 500;
}

/*discomfort training*/

.chevron-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.chevron-button.rotated {
  transform: rotate(180deg);
}

.exercise-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 98px;
}

.discomfort-exercise-div {
  width: 100%;
  height: auto;
  margin-top: 10px;
  background-color: #ffe8bf;
  border-radius: 20px;
}

div.left-side-of-exercise h2 {
  font-weight: 500;
  color: var(--text-dark-gray);
}

div.left-side-of-exercise p {
  font-weight: 400;
  color: var(--text-dark-gray);
}

div.left-side-of-exercise {
  margin-left: 15px;
}

div.right-side-of-exercise {
  margin-right: 15px;
}

div.discomfort-exercise-div.started {
  background-color: #fec391;
}

div.discomfort-exercise-div.completed {
  background-color: #d3d265;
}

div.discomfort-exercise-div.locked {
  background-color: #f3eee5;
}

.exercise-unavailable {
  width: 100%;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exercise-unavailable h3 {
  font-weight: 500;
  text-align: center;
  color: var(--text-dark-gray);
}

.training-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  color: var(--text-dark-gray);
  margin: 0 15px 30px 15px;
}

.description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.avatar-section {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: url(/src/Images/WelcomePage/aurelius.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}

.points-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.points-number {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: var(--text-dark-gray);
}

/*responsive styles*/

@media only screen and (min-width: 425px) {
  .welcomepage-background {
    min-height: 600px;
  }
}

@media (min-width: 500px) {
  .box-description {
    margin: 10px 0 0 0;
  }

  .single-journal p {
    width: 70%;
  }

  .box-description p {
    margin: 5px 0 5px 0;
  }

  .box-top-square,
  .box-bottom-square,
  .meditation-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box-description p {
    text-align: center;
  }

  .box-menu .start-link {
    margin: 0;
  }

  .box-menu .start-link-margin {
    margin-right: 10px;
  }

  .box-rectangle button {
    margin-right: 10px;
  }

  .box-menu .box-bottom-square button {
    border-color: #3f4553;
    color: #3f4553;
  }
}

@media only screen and (min-width: 670px) {
  .welcomepage-background {
    min-height: 700px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 770px) {

  .box-top-square,
  .box-bottom-square {
    width: calc(162px + (346 - 162) * ((100vw - 400px) / (770 - 400)));
    height: calc(182px + (390 - 182) * ((100vw - 400px) / (770 - 400)));
  }

  .box-rectangle {
    width: calc(338px + (717 - 338) * ((100vw - 400px) / (770 - 400)));
    height: calc(87px + (120 - 87) * ((100vw - 400px) / (770 - 400)));
  }
}


@media (min-width: 770px) {

  .box-top-square,
  .box-bottom-square {
    width: 346px;
    height: 390px;
  }

  .box-rectangle {
    width: 717px;
    height: 120px;
  }

  .container {
    width: 709px;
  }
}

@media (min-width: 1024px) {
  .button-hover {
    position: relative;
    overflow: hidden;
    border: 3px solid var(--white);
  }

  .button-hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }

  .button-hover:hover::before {
    width: 100%;
  }

  .button-hover:hover {
    opacity: 0.8;
    border-color: var(--btn-primary-orange);
  }

  .start link {
    transition: all 0.5s ease-in-out;
  }

  .start-link:hover {
    background-color: #fff;
    color: #615877;
    border-color: #615877;
    cursor: pointer;
    transform: scale(1.2);
  }

  .start-link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    z-index: -1;
  }

  .start-link:hover::after {
    transform: translate(-50%, -50%) scale(2);
  }

  .delete-button svg {
    cursor: pointer;
  }

  .delete-button svg:hover {
    color: black;
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
  }

  .thumb {
    cursor: grab;
  }

  .thumb:hover {
    background-color: #f48fb1;
    transform: scale(1.2);
  }

  .thumb:active {
    cursor: grabbing;
  }

  .add-quote-button:hover {
    background-color: #A3A24D;
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
  }

  .favourite-author-and-quote p.fav-quote {
    font-size: 14px;
  }

  .favourite-quote button:hover {
    cursor: pointer;
    background-color: black;
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
  }

  .emotion-image-container:hover {
    cursor: pointer;
    border: 3px solid var(--btn-pastel-orange);
  }

  .emotion-image-container img:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.3);
  }

  .color-button:hover,
  .font-size-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}